* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}

.nvgbar {
  width: 100%;
  height: 100px;
  background-color: rgb(54, 103, 226);
}

.photo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-left: 74%;
  margin-top: 10px;
}

.username {
  margin-left: 81%;
  margin-top: -60px;
  color: white;
  font-size: 40px;
}

.logout {
  text-align: center;
  padding-top: 35px;
  color: blue;
  font-size: 80px;
  margin-right: 85%;
  margin-top: -2%;
}

.button {
  width: 150px;
  height: 40px;
  margin-top: 30px;
  background-color: blue;
  border: none;
  text-align: center;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
}

.creteuser_box {
  margin: auto;
  width: 60%;
  border: 3px solid blue;
  padding: 10px;
  margin-top: 3vh;
  box-shadow: 5px 5px 6px -7px;
  height: 400px;
  width: 500px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.photo2 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 15px;
}

.username2 {
  margin-left: 35%;
  margin-top: -65px;
  color: rgb(7, 7, 7);
  font-size: 40px;
}

.email {
  margin-left: 36%;
  margin-top: 5px;
  color: rgb(7, 7, 7);
  font-size: 20px;
}

.buttonCreate {
  width: 250px;
  height: 80px;
  margin-top: 100px;
  background-color: rgb(15, 11, 235);
  border: none;
  text-align: center;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 120px;
}
